@font-face {
    font-family: 'NeueMontreal';
    src: url(./font/NeueMontreal-Regular.otf);
    font-weight: 200;
}
@font-face {
    font-family: 'NeueMontreal';
    src: url(./font/NeueMontreal-Bold.otf);
    font-weight: 800;
}
@font-face {
    font-family: 'NeueMontreal';
    src: url(./font/NeueMontreal-Medium.otf);
    font-weight: 500;
}
#scrollProgressBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    width: 0%;
    background-color: #000;
    z-index: 9999;
  }
::-webkit-scrollbar{
    display: none;
}
.navbar{
    background-color: rgb(252, 251, 242);
  transition: background-color 2s;
}
.navbar span{
    outline: none;
}
.navbar-toggler{
    background-color: transparent;
    color: black;
    outline:0;
    border: 0;
}




.navbar .navbar-brand{
    font-family: 'NeueMontreal', sans-serif;
    font-weight: 800;
    font-size: 25px;
    margin-right: 450px;
    padding-left: 0;
}

.navbar .nav-link {
    margin-left: 40px;
    font-family: 'NeueMontreal', sans-serif;
    font-weight: 500;
    animation: skew-animation 1.5s ease-in-out ;
    transform-origin: top bottom;
    transform: skew(-0.01deg, -0.01deg);
    transition: transform 0.2s ease-in;
}

.nav-link:hover {
    animation: skew-animation 1.5s ease-in-out ;
    transform-origin: top bottom;
    transform: skew(4deg, 4deg);
    transition: transform 0.2s ease-in-out;
}

.container-fluid {
    margin: 0.75% 10%;
    color: black;
}


.container-fluid a {

    text-decoration: none;
    color: black;
    font-family: 'NeueMontreal';
    font-weight: 200;
    font-size: 20px;
}


#homePage{
    padding: 5% 10%;
    width: 100%;
    height: 650px;
    background-color: rgb(252, 251, 242);
  transition: background-color 2s;
}

#homePage .title{
    padding-top: 200px;
    padding-left: 250px;
    padding-right: 200px;
   
}
 #homePage h1{
    font-size: 60px;
    font-family: 'NeueMontreal';
    font-weight: medium;    
 }

 #paraPage{
    background-color: white;
    padding: 5% 10%;
    height: 550px;
    border-bottom: 1px solid rgb(180, 178, 178);
 }

 #paraPage p{
    font-family: 'NeueMontreal';
    font-weight: 200;
    font-size: 32px;
    line-height: 48px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 50px;
}

#work{
    padding: 12% 10%;

}

.line{
    width: 100%;
    height: 1.5px;
    background-color: black;
}
#work{
    width: 100%;
    background-color: white;
    border-bottom: 1px solid grey;
}

#work h1{
    font-family: 'NeueMontreal';
    font-weight: medium;
    padding-top: 30px;
    padding-bottom: 100px;
    font-size: 56px;
}
#work .work1{
    width: 100%;
    font-family: 'NeueMontreal';
    font-weight: 200;
    font-size: 24px
}

#work p{
    font-family: 'NeueMontreal';
    font-weight: medium;
}
#work img{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
    animation: skew-animation 1.5s ease-in-out ;
    transform-origin: top bottom;
    transform: skew(-0.01deg, -0.01deg);
    transition: transform 0.2s ease-in;
}
#work img:hover{
    animation: skew-animation 1.5s ease-in-out ;
    transform-origin: top bottom;
    transform: skew(0.7deg, 0.7deg);
    transition: transform 0.2s ease-in-out;
    opacity: 80%;
}

#work .work2{
    width: 100%;
}
#work p{
    font-family: 'NeueMontreal';
    font-weight: 200;
    font-size: 22px;
}
#work a{
    text-decoration: none;
    color: black;
}





/* Writing ============================================================== */

#writing{
    padding: 12% 10%;
    width: 100%;
    
}
#writing h1{
    font-family: 'NeueMontreal';
    font-weight: medium;
    padding-top: 30px;
    padding-bottom:0px;
    font-size: 56px;
}
#writing .articles{
    overflow: scroll;
    
}

.articles p{
    font-size: 24px;
    font-family: 'NeueMontreal';
    font-weight: medium;
    margin-bottom: 25px;
}

.card{
    border: none;
    margin-bottom: 20px;
    padding-left: 0;
    border-bottom: 1px solid grey ;
    border-radius: 0;
   
}
.card-body{
    animation: skew-animation 1.5s ease-in-out ;
    transform-origin: top bottom;
    transform: skew(-0.01deg, -0.01deg);
    transition: transform 0.2s ease-in;
}
.card-body:hover {
    animation: skew-animation 1.5s ease-in-out ;
    transform-origin: top bottom;
    transform: skew(1deg, 1deg);
    transition: transform 0.2s ease-in-out;
    opacity: 80%;
}



/* About =============================================================== */

#about{
    width: 100%;
    background-color: white;
    border-bottom: 1px solid grey;
    padding: 12% 10%;
}

#about h1{
    font-family: 'NeueMontreal';
    font-weight: medium;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 56px;
}
.about-para1{
    padding-right:0px;
    font-size: 32px;
    font-family: 'NeueMontreal';
    font-weight: 200;
}
.about-para2{
    padding-left: 80px;
    font-size: 24px;
    
}
.about-para2 p{
    margin-bottom: 50px;
    font-family: 'NeueMontreal';
    font-weight: 200;
}




/* Contact =========================================================== */

#contact{
    width: 100%;
    background-color: white;
    border-bottom: 1px solid grey;
    padding: 12% 10%;
}
#contact h1{
    font-family: 'NeueMontreal';
    font-weight: medium;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 56px;
}
#contact .contact-h1{
    font-size: 72px;
}
#contact h4{
    font-family: 'NeueMontreal';
    font-weight: medium;
    font-size: 30px;
    margin-left:20px ;
    padding: 10px 0;
}
#contact p{
    font-family: 'NeueMontreal';
    font-weight: 200;
    font-size: 26px;
    margin-bottom: 40px;
}





/* RESPONSIVE FOR MOBILE============================================== */

@media only screen and (max-width: 600px){
    .navbar .navbar-brand{
        margin-right: 0;
        padding: 0;
    }
    #homePage h1{
        width: 100%;
       font-size: 40px;
    }
    #homePage .title{
        padding-top: 250px;
        padding-left: 0px;
        padding-right: 0;
       
    }
    .container-fluid {
        margin: 0.75% 8%;   
    }
    #paraPage p{
        font-family: 'NeueMontreal';
        font-weight: 200;
        width: 100%;
        font-size: 24px;
        line-height: 28px;
        padding-left: 0px;
        padding-bottom: 10px;
        padding-right: 0px;
    }
    #paraPage{
        margin: 10% 5%;
        height: 450px;
    }
    .about-para1{
       
        font-size: 28px;
        margin-bottom: 35px;
        
    }
    .about-para2{
        padding-left: 0px;
        font-size: 20px;
        
    }

    #contact h1{
        font-family: 'NeueMontreal';
        font-weight: medium;
        padding-top: 30px;
        padding-bottom: 50px;
        font-size: 56px;
    }
    #contact h4{
        font-size: 24px;
        margin-left:0px ;
        padding: 10px 0;
    }
    #contact p{
        font-family: 'NeueMontreal';
        font-weight: 200;
        font-size: 24px;
        margin-bottom: 40px;
    }
    #contact .contact-h1{
        font-size: 36px;
        font-weight: medium;
    }

}